@import "materialize.css";

.blue {
    background-color: #30A8DF!important;
}

.blue-text {
    color: #30A8DF!important;
}

.orange-text {
    color:#FC6621!important;
}

.btn {
    font-size: 14px;
}

.section {
    padding: 50px;
}

body {
    background-color: #fff;
	//background-color:#EBEEF1;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
} 

main {
	flex: 1 0 auto; 
    position: relative;
    top: 0;
    left: 241px;
}

.admin-nav-button {
    display: block!important;
}

.side-nav.fixed {
    left: 0;
    position: fixed;
    top: 64px;
}

.grey-section {
    background-color: #f4f4f4;
    padding: 50px 0 30px;
    font-size: 22px;
}

nav .brand-logo {
    position: absolute;
    color: #FFFFFF;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    white-space: nowrap;
    font-family: Raleway;
    letter-spacing: 1px;
}

.white-logo {
    height: 30px;
    margin: 15px 15px 15px 5px;
}

#nav i {
    line-height: 50px;
    height: 40px;
    font-size: 20px;
}

.user-avatar {
    height: 30px;
    position: relative;
    top: 10px;
    margin-right: 5px;
}

.side-nav li.no-padding:hover {
    background-color: #fff;
    color: #fff;
}

main .panel {
    box-shadow: 1px 2px 0 #e5eaee;
    padding: 25px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 50px;
}

.side-nav li.active, .side-nav li:hover {
    background-color: #2196F3;
    color: #fff;
}

.doughnut-legend li span {
    position: relative;
    top: 4px;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
}

.side-nav li.active a, .side-nav li:hover a {
    color: #fff;
}

.side-nav li.active .collapsible-body a {
    color: #000;
}

.side-nav li:hover .collapsible-body a {
    color: #000!important;
}


.collapsible-body li:hover a.light-text {
    color: #fff!important; 
}

.side-nav li:hover a {
    color: #fff;
}

i.right {
    margin-left: 5px;
}

#user-dropdown {
    top: 64px!important; 
}

.light-text {
    font-weight: 400!important;
}

.side-nav.fixed a {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    display: block;
    padding: 0 15px 0 0;
    color: #5E6673;
    min-height: 20px;
    height: 50px;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.active .collapsible-body ul {
    background-color: #f4f4f4;
}

.collapsible-header i {
    width: 1.5rem!important;
}

.input-field input[type=search] {
    margin-bottom: 0;
}

#nav form i {
    line-height: 64px;
    height: 64px;
    color: #212121;
}

.dropdown-content li>a {
    font-size: 14px;
}

.side-nav.fixed a {
    display: block;
    padding: 0 15px;
    color: #212121;
    min-height: 20px;
    height: 50px;
    line-height: 50px;
}

.logo {
    height: 40px;
    top: 12px;
    position: relative;
}

footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
}

nav .input-field label.active i {
    color: #444;
}

.slider-content h5 {
    font-family: Montserrat!important;
    text-transform: uppercase;
    font-weight: 400!important;
    letter-spacing: 4px;
    font-size: 40px!important;
}

.search-center {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background-color: #fff!important;
}

@media (max-width: 992px) {
    .search-center {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        background-color: #fff!important;
    }
        .search-center i {
        line-height: 58px;
    }
}

@media (max-width: 600px) {
    .center-small {
        float:none!iportant;
        text-align:center;
        width:100%;
         margin-top:20px;
    }
}

nav.homepage-nav {
    position: absolute;
    background-color: transparent;
    box-shadow: none;
    z-index: 9999;
}

nav.homepage-nav ul a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 11px;
}

#search::-webkit-input-placeholder {
    color: #444;
    font-size:16px;
}

.verticle-divider {
    width: 2px;
    margin: 0 5px;
    height: 64px;
    background-color: rgba(48, 168, 223, 0.75);
}

.parallax img {
    width:100%;
}

.card-title i {
    line-height: 50px;
}

#index-banner {
    height:700px;
}

#testimonial-banner {
    height:300px;
}

.slider-content {
    margin: 225px 0;
}

.slider-content p {
    font-family: Montserrat;
    margin: 15px;
    color: #fff;
}

.slider-button {
    margin: 0 11.25px;
    font-size: 14px;
    font-weight: 900;
    font-family: 'Source Sans Pro',sans-serif;

    i {
        margin-left:5px;
    }

}

.bg-img {
    width: 100%;
    height: 100%;
    background: url('/bg.jpg') center center no-repeat;
    background-size: cover;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right,#30A8DF,#444);
        opacity: .75;
    }
}

body {
    font-family: "HelveticaNeue-Light", sans-serif;
    font-size: 16px;
}

.hidden {
    display: none;
}

*:focus {
    outline: 0;
}

.type-input {
    font-family: Consolas, monaco, monospace;
    position:relative;
    z-index: 9999;
    border: none;
    background: transparent;
    font-size: 24px;
    color: #444;
    font-weight: normal;
    width: 100%;
    margin-left: -2px;
}

.rw-wrapper{
    margin: 20px auto 0 auto;
    padding: 10px;
}

.rw-sentence{
    margin: 0;
}

#testimonials {
    margin: 50px 0;
    margin-bottom:0;

    .parallax-container {
        height: 400px;
            background-color: rgba(0,0,0,0.5);
    }

}

.full-width {
    width: 100%;
}

.rw-sentence span{
    color: #444;
    font-weight: normal;
}

.rw-words{
    display: inline-block;
    font-family: Consolas, monaco, monospace;
    width: 50px!important;
    position: relative;
    top: -45px;
    left: -25px;
}

.type{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: words 24s steps(48) infinite 0s;
    font-size:45px;
    font-family: 'Source Sans Pro',sans-serif;
}
.moving-text {
    position: relative;
    left: -70px;
    text-transform: capitalize;
}
.type:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.type:nth-child(3) {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}
.type:nth-child(4) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
}
.type:nth-child(5) {
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
}
.type:nth-child(6) {
    -webkit-animation-delay: 20s;
    animation-delay: 20s;
}

@-webkit-keyframes words {
    0% { opacity: 0; width: 0; }
    2% { opacity: 1;}
    14% { opacity: 1; width: 48ch;}
    15% { opacity: 0; }
}

span > span {
    animation: cursor 0.8s infinite;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
